
@import "libs/fonts";
@import "libs/fontello";
@import 'libs/normalize.scss';
@import 'libs/slick';
@import "libs/jquery-ui";
@import "libs/element";


@import "libs/header";
@import "libs/sectionForm";
@import "libs/sectionWork";
@import "libs/sectionAccordion";

body {
  position: relative;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

}
html {
  box-sizing: border-box;
  position: relative;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

}
*:before,
*:after {
  box-sizing: inherit;
}
.wrapper {
  position: relative;
  margin: 0 auto;
}
section{
  position: relative;
  z-index: 1;
}
img {
  max-width: 100%;
  height: auto;
}
ul li,
ol li {
  margin: 0;
}
h2{
  font-family: $Montserrat-ExtraBold;
  color: $color2;
  font-size: 33px;
  font-weight: $font-weight7;
  font-style: $style1;
  letter-spacing: 0.82px;
  line-height: $line-height1;

}
a {
  cursor: pointer;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
input{
  border: none;
}
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.slick-arrow{
  position: absolute;
  z-index: 1;
  bottom: 0;
  cursor: pointer;
  transition: .5s;
  border: 0;
  background: 0 0;

  &:hover{
    &:before{
      color: #c39c6c;
      transition: 0.5s;
    }
  }
  &.prev{
    left: 50%;
    transform: translate(-212%,10px) rotate(180deg);
  }
  &.next{
    right: 50%;
    transform: translate(212%,6px);
  }
  &:before{
    font-family: 'fontello';
    font-size: 12px;
    content: '\e805';
    color: #aeaeae;
  }
}
.slick-dots{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 1px);
  width: 112px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  li{
    width: 8px;
    height: 8px;
    background-color: #aeaeae;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
    &:hover{
      background-color: #c39c6c;
      transition: 0.5s;
    }
    button{
      display: none;
    }
    &.slick-active{
      width: 9px;
      height: 8px;
      background-color: #c39c6c;
    }
  }
}
button {
  cursor: pointer;
}
.orang_btn{

  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.26);
  border-radius: 5px;
  background-color:$color1;
  color: $color3;
  font-family: $Montserrat-Regular;
  font-size: 13px;
  font-weight: $font-weight5;
  $style1:normal;
  $line-height1:normal;
  letter-spacing: 0.3px;
  line-height: normal;
  border: none;
}
.clearfix {
  &:after {
    content: " ";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
  }
}
.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  li{
    margin: 0 5px 0 0;
    a{
      color: $color6;
      font-family:$Montserrat-Regular;
      font-weight: $font-weight4;
      font-style: $style1;
      letter-spacing: 0.35px;
      line-height: 24px;
      text-decoration: underline;
      font-size: 14px;
    }
    &.active{
      a{
        color: $color4;
        font-family:$Montserrat-Regular;
        font-weight: $font-weight4;
        font-style: $style1;
        letter-spacing: 0.35px;
        line-height: 24px;
        cursor: default;
        font-size: 14px;
        text-decoration: none;
      }
    }
    span{
      position: relative;
      width: 7px;
      display: block;
      &:before{
        content: '>';
        position: absolute;
        left: 0;
        top: 5px;
        color: $color5;
        font-size: 12px;
      }
    }
  }
}
.paragraph{
  color:$color2;
  font-family:$Montserrat-Regular;
  font-size: 17px;
  font-weight: $font-weight4;
  font-style: $style1;
  line-height: 21px;
  text-align: left;
  letter-spacing: 0.42px;
}
.list{
  li{
    position: relative;
    color: $color2;
    font-family: $Montserrat-Regular;
    font-size: 18px;
    font-weight: $font-weight4;
    font-style: $style1;
    line-height: $line-height1;
    text-align: left;
    letter-spacing: 0.45px;
    &:before{
      content: '\e800';
      font-family: 'fontello';
      font-size: 20px;
      color: $color1;
      position: absolute;
      left: 0;
      top: 0;

    }
  }
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;

}

@media (min-width: 768px) {
  .container {
    width: 648px;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 864px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 980px;
  }
}

